{% extends 'base.html.twig' %}

{% block title %}Edit PhoneBook{% endblock %}

{% block body %}
    <h1>{{ 'edit_contact'|trans }}</h1>

    {{ include('phone_book/_form.html.twig', {'button_label': 'Update'}) }}

    <br>
    <a class="btn btn-orange" href="{{ path('phone_book_index_all') }}">{{ 'back_to_list'|trans }}</a>

    {{ include('phone_book/_delete_form.html.twig') }}
{% endblock %}
